:css
  .facets-wrapper{
  }
  .facets {
    background-color: #f8f8f8;
    padding: 1em;
    color: rgb(56, 166, 203);
    font-family: Arial;
    display: inline-block;
    margin: 0 auto;
  }
  .funder {
    margin-top: .3em;
    margin-buttom: .3em;
    font-size: 12px;
  }
  .link:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  .funder-level0{
    border-color: rgb(208, 208, 208);
    border-style: none none solid none;
    border-width: 1px;
    padding-top: .5em;
    padding-bottom: .5em;
  }
  .has_more{
    cursor: pointer;
  }
  .funder-h1-0{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
  }
  .funder-h1-1{
    font-size: 13px;
  }
  .funder-level0:first-child{
    border-style: solid none solid none;
  }
  .funder-level0:last-child{
    border-style: solid none solid none;
  }

  .funder-id{
    margin-right: 10px;
    font-size: 13px;
  }
  .more {
    float: right;
    color: rgb(208, 208, 208);
  }
  .funder:hover .more {
    color: black;
  }
  .blueText{
    color:rgb(56, 166, 203);
    font-weight: bold;
    font-family: Arial;
    border-color:transparent;
    background-color:transparent;
    float:right;
  }

:coffeescript
  $(document).ready ->
    $(".funder[parent_id='0']").show()

    $(".funder").on "click", ->
      that = $(this)
      level = parseInt(that.attr("level"))
      id = that.attr("funder_id")
      more = that.find(".more")

      level_smaller = parseInt(that.nextAll(":visible").first().attr("level")) <= level
      last_element = that.nextAll(':visible').length == 0

      if level_smaller || last_element # Show
        $(".funder[parent_id=" + id + "]").show()
        more.removeClass("glyphicon-plus").addClass "glyphicon-minus"
      else #hide
        more.removeClass("glyphicon-minus").addClass "glyphicon-plus"
        next_siblings = that.nextUntil(".funder[level=" + level + "]")
        next_siblings.hide()
        $.each next_siblings, (i, el) ->
          more = $(el).find(".more")
          more.removeClass("glyphicon-minus").addClass "glyphicon-plus"


%div.navbar.navbar-default
  %div.container-fluid
    %a.navbar-brand{:href => "/"} US Federal Funders List
    %a.btn.btn-default.navbar-btn{href: '/funders.csv', :class=>"blueText"}
      %span.glyphicon.glyphicon-save
      DOWNLOAD AS CSV
    %a.btn.btn-default.navbar-btn{href: '/funders.xls', :class=>"blueText" }
      %span.glyphicon.glyphicon-save
      DOWNLOAD AS XLS
%div.row
  %div.col-md-3
  %div.col-md-6
    %div.facets
      %div
      - render_top_level_funders(funders) do |name, id, level, parent_id, more|
        %div{:class => "funder funder-level#{level} #{('has_more' if more)}", level: level, :funder_id => id, :parent_id => parent_id, :style => "display:none;" }
          %span.funder-id= id
          %span{:class =>"link funder-h1-#{level}", :style => "padding-left:#{(level)*20}px;"}= name
          -if more
            %span.more.glyphicon.glyphicon-plus

  %div.col-md-3
